body{
    font-family: 'Roboto',Arial, Helvetica, sans-serif;
}

img{
    width: 400px;
}

.jogo{
    display: flex;
    margin: 40px;
    display: flex;
    justify-content: space-between;
}

.jogo section{
    display: flex;
    flex-direction: column;
    justify-content:space-between;
    align-items: flex-end;
    text-align: end;   
}

.jogo section span{
    font-size: 50px;
    font-weight: 700;
    font-family: 'Noto Sans','Roboto',Arial, Helvetica, sans-serif;
}

.jogo button {
    width: 200px;
    height: 60px;
    font-weight: 700;
    font-size: 20px;
    color: #FFFFFF;
    background-color: #27AE60;
    border-radius: 8px;
    border: none;
}

.jogo button:hover {
    cursor: pointer;
}

.letras{
    margin: 70px 100px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.letras button{
    font-weight: 700;
    font-size: 16px;
    width: 40px;
    height: 40px;
    color: #798A9F;
    border: 1px solid #7AA7C7;
    border-radius: 3px;
    margin: 10px;
}
